body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('http://www.skateafterschool.org/wp-content/uploads/2014/02/7.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    z-index: -100; 
}

header{
    display:flex;
    text-align:center;
    background-color: #222222;
    font-family:arial;
    position:fixed;
    width:100%;
    z-index:1000;
    transition: all .35s;
}

header a{
    text-decoration:none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight:bold;
}

header:hover{
    padding:5px 0;
    background-color: #222222;
}

.logo{
    text-align:left;
    background-color: #222222;
    color:white;
    flex:1;
    padding:18px 70px;
}

.logo a{
    color:white;
}

.nav{
    background-color: #222222;
    flex:3;
    text-align:right;
    font-size:14pt;
    padding:15px 51px 15px;
}

.nav a{
    background-color: #222222;
    color:#666666;
    padding:10px;
}

.nav a:hover{
    color:#fff;
}

.logout{
    text-decoration:none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight:600;
    color: white;
    border:0;
    font-size: 16pt;
    background-color: #ff6b6b;
    border-radius:10px;
    border:1px solid #ff6b6b;
}

.logout a{
    text-decoration:none;
    background-color: transparent;
    color:#fff;
}

.logout:active{
    background-color: #222222;
}

.hero{
    padding-top:33px;
    width:100%;
}

.main{
    margin-top:15px;
    color:black;
    width:74em;
    margin-left:auto;
    margin-right:auto;
}

.title{
    text-align:center;
    font-size: 150px;
    font-family: 'Pathway Gothic One', sans-serif;
    color:#fff;
    font-weight:900;
}

.vom{
    text-align:center;
    padding:20px 0;
    font-family:'Raleway';
}

.vom_title{
    padding:10px;
}

.vom_title span{
    font-size:50px;
    font-family:'Raleway';
    font-weight:400;
}

.vom_pic{
    height:300px;
    width:300px;
    background-size:cover;
    display:inline-block;
    border-radius: 150px;
}

.content{
    display:flex;
    text-align:center;
}

aside{
    width:100px;
}

.vom_name{
    margin-top:10px;
    font-size:25pt;
}

.volunteers{
    font-family:'Raleway';
    display:flex;
    width:74em;
    margin-left:auto;
    margin-right:auto;
    padding:20px 0;
}

.vol_describe{
    width:460px;
    font-weight:500;
    font-size:16pt;
    text-align:left;
}

.profiles{
    flex-wrap:wrap;
    justify-content:center;
    display:flex;
}

.profile{
    margin:5px;
}

.profile_pic{
    height:200px;
    width:200px;
    background-size:cover;
    display:inline-block;
}

.profile, .profile_pic{
    border-radius:100px;
}

.vom_name a, .profile a{
    text-decoration:none;
    color:#fff;
}

.name{
    font-size:16pt;
}